
@import '~/estilos/iconos'
@import '~/estilos/colores'
@import '~/estilos/paleta'
@import '~/estilos/utils'
// ANT Reset
.ant-btn-primary
	border-width: 0
*
	margin: 0
	padding: 0
body
	// font-family: "lexia", "Roboto Slab"
	font-family: "lexia"
	// font-family: "Roboto Slab"
	min-height: 100vh
	color: $colorBody
	background-color: $fondoBody

pre
	white-space: pre-wrap
code
	white-space: pre-wrap

a
	color: inherit
	text-decoration: none
	&:visited, &:active, &:hover,
	&:-webkit-any-link
		color: inherit

.noMovil
	+movil
		display: none

.noCompu
	+compu
		display: none

.light
	+fwl
.normal
	+fwn
.bold
	+fwb
.black
	+fwbb

.boton
	display: block
	margin: 0 auto
	cursor: pointer
	text-transform: uppercase
	padding: .5em 1.3em
	border-radius: 4px
	background-color: black
	color: white
	font-weight: 900
	+compu
		padding: .7em 1.5em

// ant-style dropdown hack
.ant-select-dropdown-menu-item
	text-overflow: unset!important
	white-space: break-spaces!important
